#{extends '/admin.html' /} #{set title:'Class dashbord' /} #{set
title:'Your Results' /}
<div class="formContainer">
	<table>
		<tr>
			<td><span id="evaluationTaking">${msg}</span><span
				id="evaluationTakingAlert"
				class="red"
			></span></td>
		</tr>
		<tr>
			<td valign="top">
				<table>
					<tr>
						<td>
							<table>
								<tr>
									<td>&{'name'}<font
										size="2"
										color="red"
									>*</font>:</td>
									<td><input
										type="hidden"
										name="assessimentId"
										id="assessimentId"
										value="${assessment?.id}"
									>${assessment?.evaluation?.name}</td>
								</tr>
								<tr>
									<td>&{'description'}<font
										size="2"
										color="red"
									>*</font>:</td>
									<td>${assessment?.evaluation?.description}</td>
								</tr>
								<tr>
									<td>&{'type'}<font
										size="2"
										color="red"
									>*</font>:</td>
									<td>${assessment?.evaluation?.evalType}</td>
								</tr>
								<tr>
									<td>&{'totalMarks'}<font
										size="2"
										color="red"
									>*</font>:</td>
									<td>${assessment?.evaluation?.totalMarks}</td>
								</tr>
								<tr>
									<td>&{'status'}<font
										size="2"
										color="red"
									>*</font>:</td>
									<td>${assessment?.aStatus}</td>
								</tr>
							</table></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td>
				<div id="questionListAssessiment">
					<table>
						<thead>
							<tr>
								<th>Questions</th>
								<th>Answers</th>
						</thead>
						<tbody>
							#{list items:assessment?.processes, as:'process'}
							<tr>
								<td><span class="${process_parity}">${process_index}&nbsp;.&nbsp;${process?.question?.content}</span>
								</td>
								<td>
									<table>
									
										#{if process?.answers!= null &&
										process?.answers?.size()>0} #{list
										items:process?.answers, as:'answer'}
										<tr>
											<td><span class="${answer_parity}">${answer_index}&nbsp;.&nbsp;${answer?.questionOption?.content}</span></td><td><span class="${answer_parity}">${answer?.questionOption?.marks}</span></td>
										</tr>
										#{/list} #{/if}
									</table></td>
							</tr>
							#{/list}
							<tr><td colspan="2">Elapsed Time :${assessment?.elapsedTime}</td></tr>
							<tr><td colspan="2">Obtained Marks:${assessment?.elapsedTime} &nbsp;/&nbsp; ${assessment?.evaluation?.totalMarks}</td></tr>
						</tbody>
					</table>
				</div></td>
		</tr>
	</table>
</div>