#{extends '/admin.html' /} #{set title:'Class dashbord' /} #{set
title:'Take Assesment' /}
<div class="formContainer">
	<table>
		<tr>
			<td><span id="evaluationTaking">${msg}</span><span
				id="evaluationTakingAlert"
				class="red"
			></span>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table>
					<tr>
						<td>
							<table>
								<tr>
									<td>&{'name'}<font
										size="2"
										color="red"
									>*</font>:</td>
									<td><input
										type="hidden"
										name="assessimentId"
										id="assessimentId"
										value="${assessment?.id}"
									>${assessment?.evaluation?.name}</td>
								</tr>
								<tr>
									<td>&{'description'}<font
										size="2"
										color="red"
									>*</font>:</td>
									<td>${assessment?.evaluation?.description}</td>
								</tr>
								<tr>
									<td>&{'type'}<font
										size="2"
										color="red"
									>*</font>:</td>
									<td>${assessment?.evaluation?.evalType}</td>
								</tr>
								<tr>
									<td>&{'totalMarks'}<font
										size="2"
										color="red"
									>*</font>:</td>
									<td>${assessment?.evaluation?.totalMarks}</td>
								</tr>
								<tr>
									<td>&{'status'}<font
										size="2"
										color="red"
									>*</font>:</td>
									<td>${assessment?.aStatus}</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<div id="questionListAssessiment">
					<table>
						<thead>
							<tr>
								<th>Questions</th>
								<th>Answers</th>
						</thead>
						<tbody>
							#{list items:assessment?.processes, as:'process'}
							<tr>
								<td><span class="${process_parity}">${process_index}&nbsp;.&nbsp;${process?.question?.content}</span>
								</td>
								<td>
									<table>
										<tr>
											<td>Max :${process?.question?.maxAllowedOptions}</td>
										</tr>
										#{if process?.question?.options != null &&
										process?.question?.options?.size()>0 &&
										process?.question?.maxAllowedOptions>1} #{list
										items:process?.question?.options, as:'option'}
										<tr>
											<td><span class="${option_parity}">${option_index}&nbsp;.&nbsp;${option?.content}</span><input
												type="checkbox"
												name="${process?.id}"
												id="${option?.id}"
												onclick="answerQuestion(this);"
											>
											</td>
										</tr>
										#{/list} #{/if} #{if process?.question?.options != null &&
										process?.question?.options?.size()>0 &&
										process?.question?.maxAllowedOptions==1} #{list
										items:process?.question?.options, as:'option'}
										<tr>
											<td><span class="${option_parity}">${option_index}&nbsp;.&nbsp;${option?.content}</span><input
												type="radio"
												name="${process?.id}"
												id="${option?.id}"
												onclick="answerQuestion(this);"
											>
											</td>
										</tr>
										#{/list} #{/if}
									</table>
								</td>
							</tr>
							#{/list}
							<tr>
								<td colspan="2"><a href="@{Evaluations.checkout(assessment?.id)}" rel="${assessment?.id}" class="button-link-show">Checkout</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>