#{extends '/admin.html' /} #{set title:'Add New Sanction' /} #{set
title:'Add Sanction' /}
<div class="formContainer">
	<form
		action="create"
		method="post"
		onsubmit="return checkForm(this);"
	>
		<table>
		<tr>
				<td colspan="2"><p id="crudListAdd">
						<a>Fill In the Form To Add A New Sanction</a>
					</p></td>
			</tr>
			
			<tr>
				<td>&{'name'}<font
					size="2"
					color="red"
				>*</font>:</td>
				<td><input
					type="text"
					name="name"
					value="${flash.name}"
				><span class="error">#{error 'name'/}</span></td>
			</tr>
			<tr>
				<td>&{'description'}<font
					size="2"
					color="red"
				>*</font>:</td>
				<td><input
					type="text"
					name="description"
					
					value="${flash.description}"
				><span
					id="descriptionError"
					class="error"
				>#{error 'description' /}</span> </td>
			</tr>
			<tr>
				<td>&{'typeOf'}:</td>
				<td><select name="type">
						<option value="NORMAL">NORMAL</option>
						<option value="HIGHT">HIGHT</option>
						<option value="MIDLE">MIDLE</option>
				</select><span class="error">#{error 'phoneNumber' /}</span></td>
			</tr>
			<tr>
				<td>&{'marks'}<font
					size="2"
					color="red"
				>*</font>:</td>
				<td><input
					type="text"
					name="marks"
					value="${flash.marks}"
				><span
					id="marksError"
					class="error"
				>#{error 'marks' /}</span></td>
			</tr>
			<tr>
				<td colspan="2"><input
					type="submit"
					name="createSanctiont"
					value="Create"
				></td>
			</tr>
		</table>
	</form>
</div>