#{extends 'admin.html' /} #{set title:'Welcome ${user}! ' /} #{set
title:'Sanctions' /}
<div id="contentListing">
#{deadbolt.restrict roles:[['HEADTEACHER']]}
	<p id="crudListAdd">
		<a href="@{Sanctions.addNew()}">&{'addNew'}</a>
	</p>
	#{/deadbolt.restrict}
	#{if results != null && results?.size()>0}
	<table>
		<tr>
			<td>
				<h2 id="crudListTitle">
					#{if results != null && results?.size()>0} &{'totalSanctions'}:<span>${results?.size()}</span>
					#{/if}
				</h2></td>
			<td><input
				type="text"
				name="search"
				class="search rounded"
				value="Search"
				id="search"
				onkeyup="getSanctions(this);"
			/>
				
			</td>
		</tr>
	</table>
	<table
		id="sanctionList"
		style="overflow: auto;"
	>
		<thead>
			<tr>
				<th>&{'name'}</th>
				<th>&{'description'}</th>
				<th>&{'type'}</th>
				<th>&{'marks'}</th>
				<th>&{'school'}</th>
				<th>&{'creator'}</th>
				<th>&{'updator'}</th>
				<th colspan="2">&{'createdOn'}&nbsp;&nbsp;</th>
			</tr>
		</thead>
		#{paginate.list items:results, as:'sanction' }
		<tr>
			
			<td>${sanction?.name}</td>
			<td>${sanction?.description}</td>
			<td>${sanction?.type}</td>
			<td>${sanction?.marks}</td>
			<td>${sanction?.school.schoolName}</td>
			<td>${sanction?.creator?.username}</td>
			<td>${sanction?.updatedBy?.username}</td>
			<td>${sanction?.createdOn}</td>
			<td>#{deadbolt.restrict roles:[['SUPERADMIN'],['HEADTEACHER']]}<span class="crudListEdit"><a
					href="@{Sanctions.show(sanction?.id,'Editing')}"
				>Edit</a>
			</span>#{/deadbolt.restrict}
			</td>
		</tr>
		#{/paginate.list}
		<tr>
			<td colspan="11">#{paginate.controls items:results /}
				#{paginate.summary items:results/}</td>
		</tr>
		#{/if} #{else}
		<h1>&{'nosanction'}</h1>
		#{/else}
	</table>
</div>