#{extends '/admin.html' /} #{set title:'Add New Operator' /} #{set
title:'Add Class' /}
<div class="formContainer">
	<form action="create" method="post" onsubmit="return checkForm(this);">
		<table>

			<tr>
				<td>&{'fullName'}<font size="2" color="red">*</font>:
				</td>
				<td><input type="text" name="fullName" value="${flash.fullName}"><span
					class="error">#{error 'name'/}</span></td>
			</tr>
			<tr>
				<td>&{'emailAddress'}<font size="2" color="red">*</font>:
				</td>
				<td><textarea name="emailAddress" id="emailAddress"
						value="${flash.emailAddress}"></textarea><span
					id="emailAddressError" class="error">#{error 'description' /}</span>
					<span id="emailAddressValid" class="valid"></span></td>
			</tr>
			<tr>
				<td>&{'phoneNumber'}:</td>
				<td><input type="text" name="phoneNumber"
					value="${flash.phoneNumber}"> <span class="error">#{error
						'phoneNumber' /}</span></td>
			</tr>
			<tr>
				<td>&{'physicalAddress'}:</td>
				<td><input type="text" name="physicalAddress"
					value="${flash.physicalAddress}"> <span class="error">#{error
						'physicalAddress' /}</span></td>
			</tr>

			<tr>
				<td>&{'box'}:</td>
				<td><input type="text" name="box"
					value="${flash.box}"><span class="error">#{error
						'box' /}</span></td>
			</tr>
			<tr>
				<td>&{'webSite'}:</td>
				<td><input type="text" name="webSite" value="${flash.webSite}"><span
					class="error">#{error 'webSite' /}</span></td>
			</tr>
			<tr>
				<td>&{'classlabel'}:</td>
				<td><select name="classlabel" id="classlabel">
						<option value="A">A</option>
						<option value="B">B</option>
						<option value="C">C</option>
						<option value="D">D</option>
						<option value="E">E</option>
						<option value="F">F</option>
						<option value="CS">CS</option>
						<option value="ENG">ENG</option>
				</select></td>
			</tr>
			<tr>
				<td>&{'classlevel'}:</td>
				<td><select name="classlevel" id="classlevel">
						<option value="NURSARY">NURSARY</option>
						<option value="PRIMARY">PRIMARY</option>
						<option value="ORDINARY">ORDINARY</option>
						<option value="SECONDARY">SECONDARY</option>
						<option value="COLLEDGE">COLLEDGE</option>
						<option value="UNIVERSITY">UNIVERSITY</option>
				</select></td>
			</tr>
			
				<tr>
					<td>&{'tuturaire'}<font
						size="2"
						color="red"
					>*</font>:
					</td>
					<td>#{select 'tuturaire', items: tuturaires, valueProperty: 'id',
						labelProperty: 'lastName',id:'select-Tuturaire' /} <span class="error">#{error
							'lastName' /}</span>
					</td>
				</tr>
			<tr>
				<td colspan="2"><input type="submit" name="createOrganization"
					value="Create"></td>
			</tr>
		</table>
	</form>
</div>