#{extends 'admin.html' /} #{set title:'Welcome ${user}! ' /} #{set
title:'AcademicYearDevisions' /}
<div id="contentListing">
	<p id="crudListAdd">
	#{deadbolt.restrict
		roles:[['HEADTEACHER']]}
		<a href="@{AcademicYearDevisions.addNew()}">&{'addNew'}</a>
		#{/deadbolt.restrict}
	</p>
	#{if results != null && results?.size()>0}
	
	
	<table>
		<tr>
			<td>
				<h2 id="crudListTitle">
					#{if results != null && results?.size()>0} &{'totalAccademicYearsDiv'}:<span>${results?.size()}</span>
					#{/if}
				</h2>
			</td>
			
		</tr>
	</table>
	<table
		id="accYearDevList"
		style="overflow: auto;"
	>
		<thead>
			<tr>
				<th>&{'description'}</th>
				<th>&{'devisionLabel'}</th>
				<th>&{'startAt'}</th>
				<th>&{'endAt'}</th>
				<th>&{'createdBy'}</th><th>&{'school'}</th>
				<th colspan="2">&{'createdOn'}&nbsp;&nbsp;</th>
			</tr>
		</thead>
		#{paginate.list items:results, as:'accYearDev' }
		<tr>
			<td>${accYearDev?.description}</td>
			<td>${accYearDev?.devisionLabel}</td>
			<td>${accYearDev?.startAt}</td>
			<td>${accYearDev?.endAt}</td>
			<td>${accYearDev?.createdBy?.username}</td><td>${accYearDev?.accademicYear?.school?.schoolName}</td>
			<td>${accYearDev?.createdOn}</td>
			<td><span class="crudListEdit"><a
					href="@{AcademicYearDevisions.show(accYearDev?.id,'Editing')}"
				>Edit</a>
			</span>
			</td>
		</tr>
		#{/paginate.list}
		<tr>
			<td colspan="8">#{paginate.controls items:results /}
				#{paginate.summary items:results/}</td>
		</tr>
		#{/if} #{else}
		<h1>&{'noaccYearDev'}</h1>
		#{/else}
	</table>
</div>