#{extends '/admin.html' /} #{set title:'Add New Operator' /} #{set
title:'Add Scholl' /}
<div class="formContainer">
	<form action="create" method="post" onsubmit="return checkForm(this);">
		<table>
		<tr>
				<td colspan="2"><p id="crudListAdd">
						<a>Fill In the Form To Add A New School</a>
					</p></td>
			</tr>
			<tr>
				<td>&{'category'}<font size="2" color="red">*</font>:
				</td>
				<td><select name="category">
						<option value="NUSURRY">NUSURRY</option>
						<option value="PRIMARY">PRIMARY</option>
						<option value="SECONDANRY">SECONDANRY</option>
						<option value="COLEGE">COLEGE</option>
						<option value="UNUVERSITY">UNUVERSITY</option>

				</select></td>
			</tr>
			<tr>
				<td>&{'name'}<font size="2" color="red">*</font>:
				</td>
				<td><input type="text" name="name" value="${flash.name}"><span
					class="error">#{error 'name'/}</span></td>
			</tr>
			<tr>
				<td>&{'description'}<font size="2" color="red">*</font>:
				</td>
				<td><input type="text" name="description" id="description"
						value="${flash.description}"><span
					id="descriptionError" class="error">#{error 'description' /}</span>
					<span id="descriptionValid" class="valid"></span></td>
			</tr>
			<tr>
				<td>&{'firstName'}:</td>
				<td><input type="text" name="ownerFirstName"
					value="${flash.ownerFirstName}"> <span class="error">#{error
						'ownerFirstName' /}</span></td>
			</tr>
			<tr>
				<td>&{'lastName'}:</td>
				<td><input type="text" name="ownerLastName"
					value="${flash.ownerLastName}"> <span class="error">#{error
						'ownerLastName' /}</span></td>
			</tr>
			<tr>
				<td>&{'type'}<font size="2" color="red">*</font>:
				</td>
				<td><select name="typeOf">
						<option value="PUBLIC">PUBLIC</option>
						<option value="PRIVATE">PRIVATE</option>
						<option value="OTHER">OTHER</option>
				</select></td>
			</tr>
			<tr>
				<td>&{'phoneNumber'}</td>
				<td><input type="text" name="ownerPhoneNumber"
					value="${flash.ownerPhoneNumber}"><span class="error">#{error
						'ownerPhoneNumber' /}</span></td>
			</tr>
			<tr>
				<td>&{'emailAddress'}:</td>
				<td><input type="text" name="ownerEmail"
					value="${flash.ownerEmail}"><span class="error">#{error
						'ownerEmail' /}</span></td>
			</tr>
			<tr>
				<td>&{'box'}:</td>
				<td><input type="text" name="poBox" value="${flash.poBox}"><span
					class="error">#{error 'poBox' /}</span></td>
			</tr>
			<tr>
				<td>&{'website'}:</td>
				<td><input type="text" name="website" value="${flash.website}"><span
					class="error">#{error 'website' /}</span></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" name="createOrganization"
					value="Create"></td>
			</tr>
		</table>
	</form>
</div>