#{extends '/admin.html' /} #{set title:'Edit School' /}
<body>
	<div class="formContainer">
		<span class="msgAlert" id="msgAlertCompany">${msg}</span>
		<form action="#" method="GET">
			<table>
			<tr>
				<td colspan="2"><p id="crudListAdd">
						<a>Fill In the Form To Modify This School</a>
					</p></td>
			</tr>
				<tr>
					<td>&{'category'}<font size="2" color="red">*</font>:
					</td>
					<td><select name="category" id="companyCategory">
							<option value="NUSURRY">NUSURRY</option>
							<option value="PRIMARY">PRIMARY</option>
							<option value="SECONDANRY">SECONDANRY</option>
							<option value="COLEGE">COLEGE</option>
							<option value="UNUVERSITY">UNUVERSITY</option>

					</select></td>
				</tr>
				<tr>
					<td>&{'name'}<font size="2" color="red">*</font>:
					</td>
					<td><input
						type="hidden"
						name="companyId"
						id="schoolId"
						value="${school?.id}"
					><input type="text" name="schoolName" id="schoolName"
						value="${school?.schoolName}"><span class="error">#{error
							'name'/}</span></td>
				</tr>
				<tr>
					<td>&{'description'}<font size="2" color="red">*</font>:
					</td>
					<td><input type="text" name="description" id="companyDescription" value="${school?.description}"><span
						id="descriptionError" class="error">#{error
							'description' /}</span> <span id="descriptionValid" class="valid"></span></td>
				</tr>
				<tr>
					<td>&{'firstName'}:</td>
					<td><input type="text" name="ownerFirstName"
						id="ownerFistName" value="${school?.ownerFirstName}">
						<span class="error">#{error 'ownerFirstName' /}</span></td>
				</tr>
				<tr>
					<td>&{'lastName'}:</td>
					<td><input type="text" name="ownerLastName" id="ownerLastName"
						value="${school?.ownerLastName}"> <span
						class="error">#{error 'ownerLastName' /}</span></td>
				</tr>
				<tr>
					<td>&{'type'}<font size="2" color="red">*</font>:
					</td>
					<td><select name="typeOf" id="typeOfId">
							<option value="PUBLIC">PUBLIC</option>
							<option value="PRIVATE">PRIVATE</option>
							<option value="OTHER">OTHER</option>
					</select></td>
				</tr>
				<tr>
					<td>&{'phoneNumber'}:</td>
					<td><input type="text" name="ownerPhoneNumber"
						id="ownerPhoneNumber" value="${school?.ownerPhoneNumber}"><span
						class="error">#{error 'ownerPhoneNumber' /}</span></td>
				</tr>
				<tr>
					<td>&{'emailAddress'}:</td>
					<td><input type="text" name="ownerEmail" id="ownerEmail"
						value="${school?.ownerEmail}"><span class="error">#{error
							'ownerEmail' /}</span></td>
				</tr>
				<tr>
					<td>&{'box'}:</td>
					<td><input type="text" name="poBox" id="companyPoBox"
						value="${school?.poBox}"><span class="error">#{error
							'poBox' /}</span></td>
				</tr>
				<tr>
					<td>&{'website'}:</td>
					<td><input type="text" name="website" id="website"
						value="${school?.website}"><span class="error">#{error
							'website' /}</span></td>
				</tr>


				<tr>
					<td colspan="2"><a href="#" class="button-link"
						id="editCompany" onclick="editCompany();"><img
							src="@{'/public/images/add.png'}" height="25" width="25" /></a></td>
				</tr>
			</table>
		</form>
	</div>