#{extends '/admin.html' /} #{set title:'Class dashbord' /} #{set
title:'Add Class' /}
<div course="formContainer">
	<table>
		<tr>
			<td>
				<table>
					<tr>
						<td>&{'course'}<font
							size="2"
							color="red"
						>*</font>:</td>
						<td><input
							type="hidden"
							name="courseIdDasbord"
							id="courseIdDasbord"
							value="${course?.id}"
						>${course?.name}</td>
					</tr>
					
					
					<tr>
						<td>&{'overTj'}<font
							size="2"
							color="red"
						>*</font>:</td>
						<td>${course?.overTj}</td>
					</tr>
					<tr>
						<td>&{'overEx'}<font
							size="2"
							color="red"
						>*</font>:</td>
						<td>${course?.overEx}</td>
					</tr>
					<tr>
						<td>&{'content'}<font
							size="2"
							color="red"
						>*</font>:</td>
						<td>#{verbatim}${course?.content}#{/verbatim}</td>
					</tr>
					
					
				</table></td>
			<td valign="top">
				<table>
					
					<tr>
						<td><p id="crudListAdd">
								<a href="@{Chapters.index(course?.id,'Materials')}" >Course Materials</a>
							</p>
						</td>
					</tr>
					<tr>
						<td><p id="crudListAdd">
								<a href="#" onclick="getEvaluations();">Evaluations</a>
							</p>
						</td>
					</tr>
				</table></td>
		</tr>
	</table>
	
	
</div>