#{extends '/admin.html' /} #{set title:'Edit School' /}
<body>
	<div course="formContainer">
		<span course="msgAlert" id="msgAlertClass">${msg}</span>
		<form action="/courses/modifyCourse" method="post" onsubmit="return checkForm(this);">
			<table>
			<tr>
				<td colspan="2"><p id="crudListAdd">
						<a>Fill In the Form To Modify This Course</a>
					</p></td>
			</tr>
				<tr>
					<td>&{'course'}<font size="2" color="red">*</font>:
					</td>
					<td><input type="hidden" name="courseId" id="courseId"
						value="${course?.id}"><input type="text" name="name" value="${course?.name}"></td>
				</tr>
				<tr>
					<td>&{'content'}<font size="2" color="red">*</font>:
					</td>
					<td><textarea  name="content" id="content"> ${course?.content}</textarea><span id="contentError"
						class="error">#{error 'content' /}</span></td>
				</tr>
				#{deadbolt.restrict
				roles:[['HEADTEACHER']]}
				<tr>
					<td>&{'overTj'}<font size="2" color="red">*</font>:
					</td>
					<td><input   name="overTj" id="overTj" type="text" value="${course?.overTj}"/> <span id="overTjError"
						class="error">#{error 'overTj' /}</span></td>
				</tr>
				<tr>
					<td>&{'overEx'}<font size="2" color="red">*</font>:
					</td>
					<td><input  name="overEx" id="overEx" type="text" value="${course?.overEx}"/> <span id="overExError"
						class="error">#{error 'overEx' /}</span></td>
				</tr>
				 #{/deadbolt.restrict}
				<tr>
					<td colspan="2"><input type="submit" name="editCourse"
					value="Modify"></td>
				</tr>
			</table>
		</form>
	</div>