#{extends 'admin.html' /} #{set title:'Welcome ${user}! ' /} #{set
title:'Chapters' /}
<div id="contentListing">
	
	<p id="crudListAdd">${msg}
		#{deadbolt.restrict
		roles:[['SUPERADMIN'],['ADMIN'],['HEADTEACHER'],['TEACHER']]} <a
			href="@{Chapters.addNew(course?.id,'Add New Chapter')}"
		>&{'addNew'}</a>#{/deadbolt.restrict}
	</p>
	#{if results != null && results?.size()>0}
	<table>
		<tr>
			<td>
				<h2 id="crudListTitle">
					#{if results != null && results?.size()>0} &{'totalChapters'}:<span>${results?.size()}</span>
					on Course :${course.name}
					#{/if}
				</h2>
			</td>
			<td>#{deadbolt.restrict
				roles:[['SUPERADMIN'],['ADMIN'],['REPRESENTATOR'],['HEADTEACHER']]}
				<input
				type="text"
				name="search"
				class="search rounded"
				value="Search"
				id="search"
				onkeyup="getChapters(this);"
			/> #{/deadbolt.restrict}</td>
		</tr>
	</table>
	<table
		id="chapterList"
		style="overflow: auto;"
	>
		<thead>
			<tr>
				<th>&{'name'}</th>
				<th>&{'creator'}</th>
				<th colspan="2">&{'createdOn'}</th>
			</tr>
		</thead>
		#{paginate.list items:results, as:'chapter' }
		<tr>
			<td><a href="@{Chapters.dashboard(chapter?.id)}">${chapter?.name}</a>
			</td>
			<td>${chapter?.creator.username}</td>
			<td>${chapter?.createdOn}</td>
			<td>#{deadbolt.restrict
				roles:[['SUPERADMIN'],['ADMIN'],['HEADTEACHER'],['TEACHER']]}<span
				class="crudListEdit"
			><a href="@{Chapters.show(chapter?.id,'Editing')}">Edit</a> </span>#{/deadbolt.restrict}
			</td>
		</tr>
		#{/paginate.list}
		<tr>
			<td colspan="10">#{paginate.controls items:results /}
				#{paginate.summary items:results/}</td>
		</tr>
		#{/if} #{else}
		<h1>&{'nochapter'}</h1>
		#{/else}
	</table>
</div>