#{extends 'admin.html' /} #{set title:'Welcome ${user}! ' /} #{set
title:'Faults' /}
<div id="contentListing">
	#{deadbolt.restrict roles:[['HEADTEACHER']]}
	<p id="crudListAdd">
		<a href="@{Faults.addNew()}">&{'addNew'}</a>||<a
			href="@{Sanctions.index()}"
		>&{'sanctions'}</a>
	</p>
	#{/deadbolt.restrict} #{if results != null && results?.size()>0}
	<table>
		<tr>
			<td>
				<h2 id="crudListTitle">
					#{if results != null && results?.size()>0} &{'totalFaults'}:<span>${results?.size()}</span>
					#{/if}
				</h2>
			</td>
			<td><input
				type="text"
				name="search"
				class="search rounded"
				value="Search"
				id="search"
				onkeyup="getFaults(this);"
			/><input
				type="hidden"
				id="faultIdAddSanction"
				name="faultIdAddSanction"
			></td>
		</tr>
	</table>
	<table
		id="faultList"
		style="overflow: auto;"
	>
		<thead>
			<tr>
				<th>&{'name'}</th>
				<th>&{'description'}</th>
				<th>&{'type'}</th>
				<th>&{'sanctions'}</th>
				<th>&{'school'}</th>
				<th>&{'creator'}</th>
				<th>&{'updator'}</th>
				<th colspan="2">&{'createdOn'}&nbsp;&nbsp;</th>
			</tr>
		</thead>
		#{paginate.list items:results, as:'fault' }
		<tr>
			<td><a
				href="#"
				rel="${fault?.id}"
				onclick="addSanctionDialog(this);"
			>${fault?.name}</a>
			</td>
			<td>${fault?.description}</td>
			<td>${fault?.type}</td>
			<td>${fault?.displines}</td>
			<td>${fault?.school.schoolName}</td>
			<td>${fault?.creator?.username}</td>
			<td>${fault?.updator?.username}</td>
			<td>${fault?.createdOn}</td>
			<td>#{deadbolt.restrict roles:[['SUPERADMIN'],['HEADTEACHER']]}<span
				class="crudListEdit"
			><a href="@{Faults.show(fault?.id,'Editing')}">Edit</a> </span>#{/deadbolt.restrict}
			</td>
		</tr>
		#{/paginate.list}
		<tr>
			<td colspan="11">#{paginate.controls items:results /}
				#{paginate.summary items:results/}</td>
		</tr>
		#{/if} #{else}
		<h1>&{'nofault'}</h1>
		#{/else}
	</table>
	<div id="addSanctionDialogUi">
		<table>
			<tr>
				<td><span id="addSanctionLabel"></span>
				</td>
			</tr>
			<tr>
				<td><div id="addSanctionDialogUiContent">
						<table>
							<tr>
								<td>&{'chooseSanction'}</td>
								<td><select id="choseSanction" name="choseSanction" onchange="addSanction(this)"></select>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>