#{extends '/admin.html' /} #{set title:'Edit School' /}
<body>
	<div class="formContainer">
		<span class="msgAlert" id="msgAlertClass">${msg}</span>
		<form action="modifyFault" method="post" onsubmit="return checkForm(this);">
			<table>
<tr>
				<td colspan="2"><p id="crudListAdd">
						<a>Fill In the Form To Modify This Class</a>
					</p></td>
			</tr>
				<tr>
					<td>&{'fullName'}<font size="2" color="red">*</font>:
					</td>
					<td><input
						type="hidden"
						name="faultId"
						id="faultId"
						value="${fault?.id}"
					><tr>
				<td>&{'name'}<font
					size="2"
					color="red"
				>*</font>:</td>
				<td><input
					type="text"
					name="name"
					value="${fault?.name}"
				><span class="error">#{error 'name'/}</span></td>
			</tr>
			<tr>
				<td>&{'description'}<font
					size="2"
					color="red"
				>*</font>:</td>
				<td><input
					type="text"
					name="description"
					
					value="${fault?.description}"
				><span
					id="descriptionError"
					class="error"
				>#{error 'description' /}</span> </td>
			</tr>
			<tr>
				<td>&{'typeOf'}:</td>
				<td><select name="type">
						<option value="NORMAL">NORMAL</option>
						<option value="HIGHT">HIGHT</option>
						<option value="MIDLE">MIDLE</option>
				</select><span class="error">#{error 'phoneNumber' /}</span></td>
			</tr>
				<tr>
					<td colspan="2"><input
					type="submit"
					name="createFault"
					value="Create"
				></td>
				</tr>
			</table>
		</form>
	</div>